DATABASE_URL="postgresql://vboard:vboard@localhost:5434/vboard"
DIRECT_URL="postgresql://vboard:vboard@localhost:5434/vboard"

BETTER_AUTH_SECRET="dev-only-not-a-secret-0000000000000000000000"
BETTER_AUTH_URL="http://localhost:3000"

RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
